# How do I expand this monthly table(Table A) into a daily table(Table B) that spreads revenue across the 30 day period?

In [ ]:
Table A
index   Month   Revenue ($)
0          1    300
1          2    330
2          3    390

In [ ]:
Table B
index   Month   Day Revenue ($)
0         1      1   10
1         1      2   10
2         1      3   10
...      ...    ... ...
30        2      1   11
31        2      2   11
...      ...    ... ...
60        3      1   13
...      ...    ... ...
89        3     30   13

## Solution

In [ ]:
import pandas as pd
import numpy as np

In [137]:
#Creating a Dictionary to populate a dataframe
data={'Month':[1,2,3],'Revenue':[300,330,390]}

In [138]:
#Converting dictionary into dataframe
df=pd.DataFrame(data)

In [139]:
print(df)

   Month  Revenue
0      1      300
1      2      330
2      3      390

In [94]:
##One-line chained method code
 ### df = pd.concat([df]*30).assign(Revenue=lambda x: x['Revenue'] / 30).sort_values('Month')

In [140]:
#Concatenating dataframeby repeating it 30 times
df2=pd.concat([df]*30)

In [141]:
#Applying lambda function to divide revenue by 30 in each row
df2=df2.assign(Revenue=lambda x: x['Revenue'] / 30)

In [142]:
#Sort values in the dataframe 'Month' wise
df2=df2.sort_values('Month')

In [145]:
#Sneak-peek into the dataframe
df2.head()

   Month  Revenue  day
0      1     10.0    1
0      1     10.0    2
0      1     10.0    3
0      1     10.0    4
0      1     10.0    5

In [144]:
#Adding the 'Day' column to populate dates between 1 and 30 and repeating it thrice since we wanted 3 months of data
df2['day'] = [i for i in range(1, 31)] * 3

print(df2)

    Month  Revenue  day
0       1     10.0    1
0       1     10.0    2
0       1     10.0    3
0       1     10.0    4
0       1     10.0    5
0       1     10.0    6
0       1     10.0    7
0       1     10.0    8
0       1     10.0    9
0       1     10.0   10
0       1     10.0   11
0       1     10.0   12
0       1     10.0   13
0       1     10.0   14
0       1     10.0   15
0       1     10.0   16
0       1     10.0   17
0       1     10.0   18
0       1     10.0   19
0       1     10.0   20
0       1     10.0   21
0       1     10.0   22
0       1     10.0   23
0       1     10.0   24
0       1     10.0   25
0       1     10.0   26
0       1     10.0   27
0       1     10.0   28
0       1     10.0   29
0       1     10.0   30
..    ...      ...  ...
2       3     13.0    1
2       3     13.0    2
2       3     13.0    3
2       3     13.0    4
2       3     13.0    5
2       3     13.0    6
2       3     13.0    7
2       3     13.0    8
2       3     13.0    9
2       3     13.0   10
2       3     13.0   11
2       3     13.0   12
2       3     13.0   13
2       3     13.0   14
2       3     13.0   15
2       3     13.0   16
2       3     13.0   17
2       3     13.0   18
2       3     13.0   19
2       3     13.0   20
2       3     13.0   21
2       3     13.0   22
2       3     13.0   23
2       3     13.0   24
2       3     13.0   25
2       3     13.0   26
2       3     13.0   27
2       3     13.0   28
2       3     13.0   29
2       3     13.0   30

[90 rows x 3 columns]